:local {
  $header-height: 80px;

  .container {
    height: calc(100vh - #{$header-height});
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;
    background-color: #333;

    > h1 {
      font-size: 1.6rem;
      color: #ddd;
    }
  }

  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 35%;
      height: 100vh;
      z-index: 1;
      background-color: #333;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 13px 10px 45px -2px rgba(0,0,0,0.55);


      > .inline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;

        > .sidebarTitle {
          color: #ddd;
          font-size: 1.2rem;
        }

        > .closeButton {
          color: #ddd;
          // margin-right: 30px;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      > nav ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        color: #ddd;

        > li {
          margin-top: 10px;
          height: 50px;
          border: 1px solid red;
          display:flex;
          align-items: center;
          justify-content: start;
          background-color: #333;
          box-shadow: 1px 1px 20px 0px #000000;
          text-shadow: 1px 1px 20px 0px #000000;
          border: solid #fff 1px;
          text-decoration: none;
          // display: inline-block;
          cursor: pointer;
          padding-left: 10px;
          padding-right: 20px;
          &:hover {
            background-color: #1E62d0;
          }

          > .coffeeIcon {
            margin-right: 20px;
          }
        }
      }
  }
}
