:local {
  $header-height: 80px;
  $break-small: 320px;
  $break-medium: 600px;
  $break-large: 1200px;
  $cool-blue: #41ABDD;
  $cool-white: #EBEEF2;
  $cool-orange: #B7DA3C;
  .container {
    overflow: hidden;
    display: grid;
    grid-template-rows: 80px 1fr;
    width: 100vw;
    height: 100vh;
    main {
      grid-row: 2;
      height: 100%;
      >div,
      >div>div {
        height: 100% !important;
        width: auto !important;
      }
    }
  }
  .header {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: $header-height;
    background-color: $cool-blue;
    >.openButton {
      color: $cool-white;
      font-size: 1.5rem;
      cursor: pointer;
      background: none;
      border: none;
      padding: none;
      outline: inherit;
      position: absolute;
      left: 1%;
      top: 50%;
      transform: translateY(-50%);
    }
    >h1 {
      font-size: 2rem;
      color: $cool-white;
      font-family: 'Niconne', cursive;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 100vh;
    z-index: 1;
    background-color: $cool-white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 13px 10px 45px -2px rgba(0, 0, 0, 0.55);
    transition: all 500ms;
    @media screen and (min-width: $break-small) {
      width: 80%;
    }
    @media screen and (min-width: $break-medium) {
      width: 50%;
    }
    @media screen and (min-width: $break-large) {
      width: 25%;
    }
    >.inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      >.sidebarTitle {
        color: $cool-blue;
        font-size: 1.2rem;
      }
      >.closeButton {
        color: $cool-blue; // margin-right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        outline: inherit;
      }
    }

    >nav ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      color: #ddd;
      >li button {
        color: $cool-blue;
        margin-top: 10px;
        height: 50px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: start;
        background-color: $cool-white;
        box-shadow: 10px 10px 77px -10px rgba(0, 0, 0, 0.62);
        text-shadow: 1px 1px 20px 0px #000000;
        text-decoration: none;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 1.1rem;
        @media screen and (min-width: $break-small) {
          height: 60px;
        }
        @media screen and (min-width: $break-medium) {
          height: 70px;
        }
        &:hover {
          background-color: $cool-orange;
        }
        >.coffeeIcon {
          margin-right: 20px;
          margin-left: 20px;
          color: $cool-blue;
        }
      }
    }
  }
  .on {
    .sidebar {
      left: -500%;
    }
  }
  .input {
    border: 2px solid $cool-blue;
    box-shadow: 10px 10px 77px -10px rgba(0, 0, 0, 0.62);
    padding: 10px;
    background: rgba(255,255,255, 0.5);
    width: 100%
  }
}
